server.use-forward-headers=true
spring.freemarker.suffix=.ftl

yt-apikey=
db-driver=org.postgresql.Driver
db-url=jdbc:postgresql://localhost/ypt?user=&password=

mail.from=
mail.transport.protocol.rfc822=smtps
mail.smtps.auth=true
mail.smtps.host=
mail.smtps.user=
mail.smtps.pass=
